body {
  background-color: black;
  color: black;
}


}

h1{
  color: #264982;
  text-align: center;
  font-family: 'Indie Flower'
  /*font-family:'Bungee Shade';*/
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
ul {
  font-family: 'Heebo'
}
